html {
    font-size: 16px;
    font-family: "Ubuntu Mono", sans-serif;
}

p, li {
    letter-spacing: 1px;
    line-height: 1;
}

a:visited {
    color: purple;
}

a:hover, a:focus {
    color: darkblue;
}