/* General */

body {
    background-color: #28282B;
    color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* Navbar */

header {
    position: sticky;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #202023;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

nav li {
    margin-right: 4em;
}

nav a {
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: none;
}

nav a:visited {
    color: white;
}

nav a:focus,
nav a:hover {
    color: blue;
}

nav a[href="#"] {
    color: blue;
    text-decoration: underline;
    text-underline-offset: 10px;
}


/* Main content */

main {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    text-align: justify;
    padding: 0 10px;
}

h1 {
    text-align: center;
    margin-bottom: 2em;
}


/* Footer */

footer {
    display: flex;
    justify-content: center;

    margin-top: auto; /* pin to bottom of viewport */
}