:root {
    /* In CSS, variables are declared with --varName: value; */
    /* To use a variable, type var(--varName) */
    --matteBlack: rgb(23, 23, 23);
}


* {
    background-color: rgba(53, 54, 58, 1);
    color: aliceblue;
}

main {
    font-family: Verdana;
    text-align: center;
}

footer {
    text-align: center;
    font-family: Verdana;
}

button {
    background-color: var(--matteBlack);
    cursor: pointer;
}

select {
    background-color: var(--matteBlack);
    cursor: pointer;
}

#numberInput {
    background-color: var(--matteBlack);
    border-color: rgb(0, 0, 0);
}

option {
    background-color: var(--matteBlack);
}