/* my first CSS code for realz */
.main {
    font-family: cursive;
}

.main  h1 {
    color: rgba(104, 16, 206, 0.411);
}

ul {
    color:burlywood;
}

#struktur {
    color: blueviolet;
}

footer {
    font-family: monospace;
    font-size: 0.7em;
}

.class-list li {
    color: steelblue;
}